*.classpath
ServerSide/.settings/org.eclipse.wst.common.project.facet.core.xml
*.class
AutomationAPIClient/bin/AutomationClient.class
*.properties
AutomationAPIClient/bin/com/uniken/reild/automation/serverapi/tasks/VerifyTest.class
*.class
*.class
*.properties
dbdesign/execupdate_trigger.sql
*.properties
*.class
ServerSide/WebContent/WEB-INF/lib/automation_commons.jar
*.properties
*.class